.row {
    display: flex;
    flex-wrap: wrap;
}
.container {
    display: block;
}
.justify-content-center {
    justify-content: center !important;
}

.mr-auto, .mx-auto {
	margin: auto !important;
}

#contains {
    text-align: center;
}

.namdos {
    font-family: 'Lato', sans-serif;
}

#vermad {
    font-family: 'Lato', sans-serif;
    color: white;
}

#namdos {
    font-family: 'Lato', sans-serif;
    color: white;
}

.parag {
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 10px;
}
.matkuls {
    font-size: 20px;
    font-weight: 400;
    padding-top: 8px;
}
.ajt {
    padding-top: 5px;
}
.ajt:hover {
    color: blue;
}





.foots {
    background: black;
    padding-block: 10px;
}

#coprig {
    color: white;
    text-align: center;
}